header{
    height: 150px;
    background-color: rgba(0, 128, 0, 0.7);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color:  rgba(0, 128, 0, 1);
    border-width: 5px, 5px, 5px, 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.navLink{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: rgba(0, 128, 0, 1);
    border-radius: 5px;

    color: gainsboro;
    text-decoration: none;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: gainsboro;
}

#login-Body{
    background-image: url(Images/Chess_Board.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#login-Field-Container{
    background-color: gainsboro;
    border: 5px;
    border-color: black;
    border-radius: 15px;
    border-style: solid;

    height: 200px;
    width: 300px;
}

.center-text{
    text-align: center;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login-info{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

#login-button{
    background-color: gainsboro;
    color: white;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

#analyzer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.analyzer-section{
    padding-left: 20px;
    padding-right: 20px;
}

#analyzer-input{
    border-right: thick solid black;
}
#analyzer-output{
    float: left;
}

#map{
    float: right;
    padding: 10px;
}

h1{
    color: gainsboro;
    text-align: center;
    font-size: 35px;
    
}

footer{
    flex: auto;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: darkgreen;
    color: lightgreen;
}

.base-container{
    background-color: gainsboro !important;
}

#news-main{
    margin-top: 15px;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

#puzzle-box{
    width: 450px; 
    display: flex; 
    flex-direction: column;
}

#puzzle-top-border{
    width: 400px; 
    height: 20px; 
    background-color: white; 
    border: 0px;
    border-style: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#news{
    padding-bottom: 50px;
}

#chart-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


#group-labels {
    width: 100px;
}

#group-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    
}

#group-labels ol {
    text-align: center;
    float: right;
    list-style: none;
    width: 100%;

}

#chart {
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-bottom: 30px;
}

#chart td {
    border: none;
    padding: 0;
    height: 20px;
    width: 20px;
}

#group-labels li {
    width: 100%;
}